#PDFUploader{
    width: 100%;
    height: 95vh;
}

#PDFContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.PageContainer{
    margin: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

body {
    margin: 0;
    padding: 0;
}

#viewerContainer {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}