@font-face {font-family: 'NimbusRomNo9L';src: url('NimbusRomNo9L-Medi.woff2');font-weight: bold;}
@font-face {font-family: 'NimbusRomNo9L';src: url('NimbusRomNo9L-MediItal.woff2');font-weight: bold;font-style: italic;}
@font-face {font-family: 'NimbusRomNo9L';src: url('NimbusRomNo9L-Regu.woff2');}
@font-face {font-family: 'NimbusRomNo9L';src: url('NimbusRomNo9L-ReguItal.woff2');font-style: italic;}
